<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iRecruit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico">

        <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">

        <!-- Animate.css -->
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}" type="text/css" media="all" />
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="{{ asset('assets/css/icomoon.css') }}" type="text/css" media="all" />
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" type="text/css" media="all" />
        <!-- Flexslider  -->

        <link rel="stylesheet" href="{{ asset('assets/css/flexslider.css') }}" type="text/css" media="all" />
        <!-- Owl Carousel  -->

        <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}" type="text/css" media="all" />
        <!-- Theme style  -->
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" media="all" />

    <!-- Modernizr JS -->
    <script src="{{ asset('assets/js/modernizr-2.6.2.min.js') }}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/js/respond.min.js') }}"></script>
    <![endif]-->

</head>
<body>


<div id="fh5co-page">
    {% include '@EtiJobeet/Company/header.html.twig' %}

    <aside id="fh5co-hero" class="js-fullheight">
        <div class="flexslider js-fullheight">
            <ul class="slides">
                <li style="background-image: url({{ asset('assets/images/slide_1.jpg') }});">
                    <div class="overlay-gradient"></div>
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h2>YOU NAME IT, WE FIND IT!</h2>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for a job" name="srch-term" id="srch-term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <div class="container">
        <div id="fh5co-services-section">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                    <h2>Categories</h2>
                    <p>You can browse through a variety of categories. You can see a few examples below. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-laptop"></i>
                        <div class="desc">
                            <h3>Information Technology</h3>
                            <p>Categories description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-server"></i>
                        <div class="desc">
                            <h3>Administrative</h3>
                            <p>Categories description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-money"></i>
                        <div class="desc">
                            <h3>Banking</h3>
                            <p>Categories description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-tablet"></i>
                        <div class="desc">
                            <h3>Telecommunications</h3>
                            <p>Categories description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-line-chart"></i>
                        <div class="desc">
                            <h3>Marketing</h3>
                            <p>Categories description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="services">
                        <i class="icon-pie-chart"></i>
                        <div class="desc">
                            <h3>Quality</h3>
                            <p>Categories description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-work-section" class="fh5co-light-grey-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                    <h2>Popular Employers</h2>
                    <p>A lot of job opportunities at several well-known companies. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 animate-box">
                    <a href="" class="item-grid text-center">
                        <div class="image" style="background-image: url({{ asset('assets/images/image_1.jpg') }})"></div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="" class="item-grid text-center">
                        <div class="image" style="background-image: url({{ asset('assets/images/image_2.jpg') }})"></div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="" class="item-grid text-center">
                        <div class="image" style="background-image: url({{ asset('assets/images/image_3.jpg') }})"></div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="" class="item-grid text-center">
                        <div class="image" style="background-image: url({{ asset('assets/images/image_4.jpg') }})"></div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="" class="item-grid text-center">
                        <div class="image" style="background-image: url({{ asset('assets/images/image_5.jpg') }})"></div>
                    </a>
                </div>
                <div class="col-md-4 animate-box">
                    <a href="" class="item-grid text-center">
                        <div class="image" style="background-image: url({{ asset('assets/images/image_6.jpg') }})"></div>
                    </a>
                </div>
                <div class="col-md-12 text-center animate-box">
                    <p><a href="{{ path('joblists') }}" class="btn btn-primary with-arrow">Browse jobs <i class="icon-arrow-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-testimony-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                    <h2>Users Feedback</h2>
                    <p>Check out some of our users' feedback on the website. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-offset-0 to-animate">
                    <div class="wrap-testimony animate-box">
                        <div class="owl-carousel-fullwidth">
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="{{ asset('assets/images/person1.jpg') }}" alt="user">
                                    </figure>
                                    <blockquote>
                                        <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                    </blockquote>
                                    <span>Athan Smith, via <a href="#" class="twitter">Twitter</a></span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="{{ asset('assets/images/person2.jpg') }}" alt="user">
                                    </figure>
                                    <blockquote>
                                        <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                    </blockquote>
                                    <span>Nathalie Kosley, via <a href="#" class="twitter">Twitter</a></span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="{{ asset('assets/images/person3.jpg') }}" alt="user">
                                    </figure>
                                    <blockquote>
                                        <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                    </blockquote>
                                    <span>Yanna Kuzuki, via <a href="#" class="twitter">Twitter</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-pricing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                    <h2>FEATURED JOBS</h2>
                </div>
            </div>
            <div class="row">
                <div class="pricing">
                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan" align="left">Data</h2>
                            <img src="{{ asset('assets/images/image_5.jpg') }}" alt="user" height="100%" width="100%">
                            <p><b>Manufacturing Engineer</b></p>
                            <a href="#" class="btn btn-select-plan btn-sm">View</a>
                        </div>
                    </div>

                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan" align="left">Data</h2>
                            <img src="{{ asset('assets/images/image_6.jpg') }}" alt="user" height="100%" width="100%">
                            <p><b>Manufacturing Engineer</b></p>
                            <a href="#" class="btn btn-select-plan btn-sm">View</a>
                        </div>
                    </div>

                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan" align="left">Data</h2>
                            <img src="{{ asset('assets/images/image_3.jpg') }}" alt="user" height="100%" width="100%">
                            <p><b>Manufacturing Engineer</b></p>
                            <a href="#" class="btn btn-select-plan btn-sm">View</a>
                        </div>
                    </div>

                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan" align="left">Data</h2>
                            <img src="{{ asset('assets/images/image_5.jpg') }}" alt="user" height="100%" width="100%">
                            <p><b>Manufacturing Engineer</b></p>
                            <a href="#" class="btn btn-select-plan btn-sm">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fh5co-cta" style="background-image: url({{ asset('assets/images/slide_2.jpg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="col-md-12 text-center animate-box">
                <h3>What are you waiting for?</h3>
                <p><a href="#top" class="btn btn-primary btn-outline with-arrow">Find a job now! <i class="icon-arrow-right"></i></a></p>
            </div>
        </div>
    </div>
</div>
    <!-- jQuery -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <!-- jQuery Easing -->
    <script src="{{ asset('assets/js/jquery.easing.1.3.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <!-- Waypoints -->
    <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
    <!-- Owl Carousel -->
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <!-- Flexslider -->
    <script src="{{ asset('assets/js/jquery.flexslider-min.js') }}"></script>

    <!-- MAIN JS -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
</body>
</html>
