{% extends '@EtiJobeet/Company/layout.html.twig' %}

{% block content %}

    {#<div id="fh5co-services-section"; style="background: linear-gradient(to bottom, rgba(185,228,247,1) 0%,rgba(0,180,231,1) 100%);">#}
            <div class="container">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for a job" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </div>
            <div id="fh5co-pricing-section" style="background: transparent">
                <div class="container">
                    <div class="row">
                        {% for job in pagination %}
                            <div class="col-md-3 animate-box">
                                <div class="price-box">
                                    <h2 class="pricing-plan" align="left" style="font-size:70%">{{ job.createdAt|date }}</h2>
                                    <img src="{{ asset('assets/images/upload/' ~ job.company.logo) }}" alt="user" height="100%" width="100%">
                                    <p><b>{{ job.position }}</b></p>
                                    <button type="button" data-job-id="{{ job.id }}" class="btn btn-primary open-modal-js" data-toggle="modal" data-target="#myModal">
                                        View
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="text-center">
                <nav>
                    {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

            </div>
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#myModal').on('show.bs.modal', function(e) {
                var $invoker = $(e.relatedTarget);
                var jobId = $invoker.data('job-id');
                var initialPath = "{{ path('eti_job_modal_display', {'id': -1}) }}";
                var path = initialPath.replace("-1", jobId);
                $.ajax({
                    url: path,
                    success: function (data) {
                        $('#myModal').html(data);
                    }
                });
            });
        });
        $(document).ready(function () {
            $('#myModal').on('click', '.btn-apply-js', function (e) {
                var $invoker = $(e.relatedTarget);
                var jobId = $invoker.data('job-id');
                var initialPath = "{{ path('eti_apply_job', {'id': "00"}) }}";
                var path = initialPath.replace("00", jobId);
                console.log(path);
                $.ajax({
                    url: path,
                    dataType: "json",
                    data: {},
                    success: function (data) {

                        if (data.status == 'success') {
                            alert(data.message);
                        }

                        if (data.status == 'fail') {
                            alert(data.message);

                            if (data.message.indexOf("logged") !== -1) {
                                window.location.replace('{{ path('login') }}');
                            }
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}

