<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iRecruit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    {% block stylesheets %}
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico">

        <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">

        <!-- Animate.css -->
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}" type="text/css" media="all" />
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="{{ asset('assets/css/icomoon.css') }}" type="text/css" media="all" />
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" type="text/css" media="all" />
        <!-- Flexslider  -->

        <link rel="stylesheet" href="{{ asset('assets/css/flexslider.css') }}" type="text/css" media="all" />
        <!-- Owl Carousel  -->

        <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}" type="text/css" media="all" />
        <!-- Theme style  -->
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" media="all" />
    {% endblock %}

    <!-- Modernizr JS -->
    <script src="{{ asset('assets/js/modernizr-2.6.2.min.js') }}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/js/respond.min.js') }}"></script>
    <![endif]-->

</head>
<body>
    {% block header %}
    {% include '@EtiJobeet/Company/header.html.twig' %}
    {% endblock %}
    <br><br>

            {% block content %}
            {% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <!-- jQuery Easing -->
    <script src="{{ asset('assets/js/jquery.easing.1.3.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <!-- Waypoints -->
    <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
    <!-- Owl Carousel -->
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <!-- Flexslider -->
    <script src="{{ asset('assets/js/jquery.flexslider-min.js') }}"></script>

    <!-- MAIN JS -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <!-- typetoggle -->
    <script>
        $(function() {
            $('#typeselector').change(function(){
                $('.types').hide();
                $('#' + $(this).val()).show();
            });
        });
    </script>
{% endblock %}

</body>
</html>

