{% extends '@IRecruit/Layout/dashlayout.html.twig' %}
{% set profile = app.user.profile %}
{% block content %}
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ asset('assets/images/upload/' ~ profile.image) }}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p style="font-size: 130%">{{ app.user.username }}</p>
                    <a href="#" style="font-size: 130%"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div><br>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header" style="font-size: 130%">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="{{ path('profile') }}">
                        <i class="fa fa-edit" style="font-size: 120%"></i> <span style="font-size: 130%">Profile</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder" style="font-size: 120%"></i> <span style="font-size: 130%">Curriculum vitae</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('user_cv') }}" ><i class="fa fa-circle-o"></i>View CV</a></li>
                        <li><a href="" data-toggle="modal" data-target="#cvModal"><i class="fa fa-circle-o"></i>Upload a new CV</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="modal fade" tabindex="-1" id="cvModal" role="dialog" aria-labelledby="myModalLabel">

    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                User Profile
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" style="height: 250px; width: 230px" src="{{ asset('assets/images/upload/' ~ profile.image) }}" alt="User profile picture">
                            <h3 class="profile-username text-center"><b>{{ profile.firstName }} {{ profile.lastName }}</b></h3>
                            <a href="{{ path('user_cv') }}" class="btn btn-primary btn-block"><b>View CV</b></a>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-9" style="font-size: 150%;">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">

                            <li class="{% if form.vars.valid and not success %}active{% endif %}"><a href="#activity" data-toggle="tab">About me</a></li>
                            <li><a href="#contact" data-toggle="tab">Contact</a></li>
                            <li class="{% if not form.vars.valid or success %}active{% endif %}"><a href="#settings" data-toggle="tab">Edit profile info</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="{% if form.vars.valid and not success %}active{% endif %} tab-pane" id="activity">
                                <div class="box-body">
                                    <strong><i class="fa fa-map-marker margin-r-5"></i> Current location</strong>
                                    <p class="text-muted"><br>
                                        {{ profile.address }} , {{ profile.city }} , {{ profile.country }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-calendar margin-r-5"></i> Birth date</strong>
                                    <p class="text-muted"><br>
                                        {{ profile.birthDate | date("d-M-Y") }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-map-marker margin-r-5"></i> Birth place</strong>
                                    <p class="text-muted"><br>
                                        {{ profile.birthPlace }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                                        {% set states = ["danger","success","info","warning","primary"] %}
                                        {% set skills = profile.skills | split(",") %}
                                    <p><br>
                                        {% for skill in skills %}
                                            <span class="label label-{{ states[random(4)] }}">{{ skill }}</span>
                                        {% endfor %}
                                    </p>

                                    <hr>
                                    <strong><i class="fa fa-trophy margin-r-5"></i> Objectives</strong>
                                    <p class="text-muted"><br>
                                        {{ profile.objectives }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Short introduction</strong>
                                    <p class="text-muted"><br>
                                        {{ profile.description }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-genderless margin-r-5"></i> Gender</strong>
                                    <p class="text-muted"><br>
                                            {% if profile.gender == constant("IRecruitBundle\\Entity\\UProfile::GENDER_FEMALE") %}
                                                 Female
                                            {% else %}
                                                 Male
                                            {% endif %}
                                    </p>
                                    <hr>
                                </div>
                            </div>
                            <div class="tab-pane" id="contact">
                                <div class="box-body">
                                    <strong><i class="fa fa-envelope-open margin-r-5"></i> E-mail</strong>
                                    <p class="text-muted">
                                        {{ app.user.email }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-phone margin-r-5"></i> Phone</strong>
                                    <p class="text-muted">{{ profile.phone }}</p>
                                    <hr>
                                    <strong><i class="fa fa-facebook-square margin-r-5"></i> Facebook</strong>
                                    <p class="text-muted"><a href="{{ profile.facebook }}"> {{ profile.facebook }} </a></p>
                                    <hr>
                                    <strong><i class="fa fa-linkedin-square margin-r-5"></i> Linkedin</strong>
                                    <p class="text-muted"><a href="{{ profile.linkedin }}"> {{ profile.linkedin }} </a></p>
                                    <hr>
                                </div>
                            </div>
                            <div class="{% if not form.vars.valid or success %}active{% endif %} tab-pane" id="settings">
                                {% if app.session.flashBag.has('success') %}
                                    <div class="alert alert-success fade in alert-dismissable">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                                        {% for msg in app.session.flashBag.get('success') %}
                                            {{ msg }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ form_start(form, {'attr' : {'class' : 'form-horizontal'}}) }}
                                    <div class="form-group">
                                        {{ form_label(form.phone, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'Phone' }) }}
                                        <div class="col-sm-10">
                                            {{  form_widget(form.phone, {'attr' : {'class' : 'form-control','placeholder' : 'Please enter your phone number'}}) }}
                                            {% if form_errors(form.phone) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.phone) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.email, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'E-mail'}) }}
                                        <div class="col-sm-10">
                                            {{  form_widget(form.email, {'attr' : {'class' : 'form-control'}}) }}
                                            {% if form_errors(form.email) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.email) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.country, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'Country'}) }}
                                        <div class="col-sm-10">
                                            {{  form_widget(form.country, {'attr' : {'class' : 'form-control'}}) }}
                                            {% if form_errors(form.country) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.country) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.city, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'City'}) }}
                                        <div class="col-sm-10">
                                            {{  form_widget(form.city, {'attr' : {'class' : 'form-control'}}) }}
                                            {% if form_errors(form.city) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.city) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.address, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'Home address'}) }}
                                        <div class="col-sm-10">
                                            {{  form_widget(form.address, {'attr' : {'class' : 'form-control','placeholder' : 'Insert your full address'}}) }}
                                            {% if form_errors(form.address) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.address) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.description, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'Description'}) }}
                                        <div class="col-sm-10">
                                            {{  form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}
                                            {% if form_errors(form.description) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.description) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.objectives, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'Objectives'}) }}
                                        <div class="col-sm-10">
                                            {{  form_widget(form.objectives, {'attr' : {'class' : 'form-control'}}) }}
                                            {% if form_errors(form.objectives) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.objectives) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.skills, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'Skills'}) }}
                                        <div class="col-sm-10">
                                            {{  form_widget(form.skills, {'attr' : {'class' : 'form-control'}}) }}
                                            {% if form_errors(form.skills) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.skills) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.imageFile, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'Picture'}) }}
                                        <div class="col-md-9">
                                            {{  form_widget(form.imageFile, {'attr' : {'class' : 'form-control-file'}}) }}
                                            <small id="fileHelp" class="form-text text-muted">Max size: 2Mb.</small>
                                            {% if form_errors(form.imageFile) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.imageFile) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.facebook, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'Facebook link'}) }}
                                        <div class="col-sm-10">
                                            {{  form_widget(form.facebook, {'attr' : {'class' : 'form-control'}}) }}
                                            {% if form_errors(form.facebook) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.facebook) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.linkedin, NULL, {'label_attr' : {'class' : "col-sm-2"}, "label" : 'Linkedin link'}) }}
                                        <div class="col-sm-10">
                                            {{  form_widget(form.linkedin, {'attr' : {'class' : 'form-control'}}) }}
                                            {% if form_errors(form.linkedin) %}
                                                <div class="alert alert-danger" role="alert">{{ form_errors(form.linkedin) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">Submit</button>
                                        </div>
                                    </div>
                                {{ form_rest(form) }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>
    <div class="control-sidebar-bg"></div>
    <!-- ./wrapper -->
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#cvModal').on('show.bs.modal', function() {
                $.ajax({
                    url: '{{ path('cv_upload') }}',
                    success: function (data) {
                       $('#cvModal').html(data);
                    }
                });
            });
        });
        $(document).on('click','.btn-upload-js',function(){
            var form = $('#cvModal form').get(0);
            $.ajax({
                url: '{{ path('cv_upload') }}',
                type: 'post',
                data: new FormData(form),
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#cvModal').html(data);
                }
            });
        });
    </script>
{% endblock %}