{% set userCondition = app.user and is_granted('ROLE_USER') and not is_granted('ROLE_COMPANY') %}
{% set isPublicUser = profile is defined ? true : false %}
{% set user = isPublicUser ? profile.user : app.user %}
{% set profile = isPublicUser ? profile : app.user.profile %}
{% set userCondition = app.user and is_granted('ROLE_USER') and not is_granted('ROLE_COMPANY') %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iRecruit | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset('assets/dashboard/bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('assets/dashboard/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/dashboard/dist/css/skins/_all-skins.min.css') }}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class=" {% if isPublicUser %} sidebar-collapse {% endif %} hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="{{ path('homepage') }}" class="logo">
            <span class="logo-mini"><b>iR</b></span>
            <span class="logo-lg"><b>iRecruit</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            {% if not isPublicUser %}
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            {% endif %}
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if userCondition %}
                                <img src="{{ asset('assets/images/upload/' ~ profile.image) }}" class="user-image"
                                     alt="User Image">
                            {% else %}
                                <img src="{{ asset('assets/images/upload/' ~ profile.logo) }}" class="user-image"
                                     alt="Company logo">
                            {% endif %}
                            <span class="hidden-xs">Welcome, {{ app.user.username }}!</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                {% if userCondition %}
                                    <img src="{{ asset('assets/images/upload/' ~ profile.image) }}" class="img-circle"
                                         alt="User Image">
                                {% else %}
                                    <img src="{{ asset('assets/images/upload/' ~ profile.logo) }}" class="img-circle"
                                         alt="Company logo">
                                {% endif %}
                                <p>
                                    {{ profile.firstName }} {{ profile.lastName }}
                                    <small>Member since {{ profile.createdAt|date }}</small>
                                </p>
                            </li>

                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            {% if (isPublicUser and app.user and app.user.id == user.id) %}
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{{ asset('assets/images/upload/' ~ profile.image) }}" class="img-circle"
                             alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p style="font-size: 130%">{{ user.username }}</p>
                        <a href="#" style="font-size: 130%"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div><br>
                <ul class="sidebar-menu">
                    <li class="header" style="font-size: 130%">MAIN NAVIGATION</li>
                    <li class="treeview">
                        <a href="{{ path('profile') }}">
                            <i class="fa fa-edit" style="font-size: 120%"></i> <span
                                    style="font-size: 130%">Profile</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-folder" style="font-size: 120%"></i> <span style="font-size: 130%">Curriculum vitae</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('user_cv') }}"><i class="fa fa-circle-o"></i>View CV</a></li>
                            <li><a href="" data-toggle="modal" data-target="#cvModal"><i class="fa fa-circle-o"></i>Upload
                                    a new CV</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </section>
    </aside>
    <div class="modal fade" tabindex="-1" id="cvModal" role="dialog" aria-labelledby="myModalLabel">
    </div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                User Profile
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" style="height: 250px; width: 230px"
                                 src="{{ asset('assets/images/upload/' ~ profile.image) }}">
                            {% if userCondition %}
                                <h3 class="profile-username text-center">
                                    <b>{{ profile.firstName }} {{ profile.lastName }}</b></h3>
                                <a href="{{ path('user_cv') }}" class="btn btn-primary btn-block"><b>View CV</b></a>
                            {% else %}
                                <a href="{{ path('viewPDF',{'id':user.id}) }}" class="btn btn-primary btn-block"><b>View
                                        CV</b></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-9" style="font-size: 150%;">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">

                            <li class="active"><a href="#activity" data-toggle="tab">About me</a></li>
                            <li><a href="#contact" data-toggle="tab">Contact</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <div class="box-body">
                                    <strong><i class="fa fa-map-marker margin-r-5"></i> Current location</strong>
                                    <p class="text-muted"><br>
                                        {{ profile.address }} , {{ profile.city }} , {{ profile.country }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-calendar margin-r-5"></i> Birth date</strong>
                                    <p class="text-muted"><br>
                                        {{ profile.birthDate | date("d-M-Y") }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-map-marker margin-r-5"></i> Birth place</strong>
                                    <p class="text-muted"><br>
                                        {{ profile.birthPlace }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                                    {% set states = ["danger","success","info","warning","primary"] %}
                                    {% set skills = profile.skills | split(",") %}
                                    <p><br>
                                        {% for skill in skills %}
                                            <span class="label label-{{ states[random(4)] }}">{{ skill }}</span>
                                        {% endfor %}
                                    </p>

                                    <hr>
                                    <strong><i class="fa fa-trophy margin-r-5"></i> Objectives</strong>
                                    <p class="text-muted"><br>
                                        {{ profile.objectives }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Short introduction</strong>
                                    <p class="text-muted"><br>
                                        {{ profile.description }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-genderless margin-r-5"></i> Gender</strong>
                                    <p class="text-muted"><br>
                                        {% if profile.gender == constant("IRecruitBundle\\Entity\\UProfile::GENDER_FEMALE") %}
                                            Female
                                        {% else %}
                                            Male
                                        {% endif %}
                                    </p>
                                    <hr>
                                </div>
                            </div>
                            <div class="tab-pane" id="contact">
                                <div class="box-body">
                                    <strong><i class="fa fa-envelope-open margin-r-5"></i> E-mail</strong>
                                    <p class="text-muted">
                                        {{ user.email }}
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-phone margin-r-5"></i> Phone</strong>
                                    <p class="text-muted">{{ profile.phone }}</p>
                                    <hr>
                                    <strong><i class="fa fa-facebook-square margin-r-5"></i> Facebook</strong>
                                    <p class="text-muted"><a href="{{ profile.facebook }}"> {{ profile.facebook }} </a>
                                    </p>
                                    <hr>
                                    <strong><i class="fa fa-linkedin-square margin-r-5"></i> Linkedin</strong>
                                    <p class="text-muted"><a href="{{ profile.linkedin }}"> {{ profile.linkedin }} </a>
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="control-sidebar-bg"></div>
</div>
<!-- jQuery 2.2.3 -->
<script src="{{ asset('assets/dashboard/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset('assets/dashboard/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- Slimscroll -->
<script src="{{ asset('assets/dashboard/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('assets/dashboard/plugins/fastclick/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('assets/dashboard/dist/js/app.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>

